<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Log in</title>
</head>
<body>

<div th:if="${param.error}">
    Entered invalid code.
</div>

<form th:action="@{/auth/reset}" method="post">
    <div><label> Code from email : <input type="text" name="hashcode"/> </label></div>
    <div><label> New password : <input type="text" name="password"/> </label></div>
    <div><input type="submit" value="Submit"/></div>
</form>

</body>
</html>